services:
  - type: web
    name: agenda-onsell-evolution-api
    runtime: docker
    plan: free
    region: virginia
    dockerfilePath: Dockerfile
    dockerContext: .
    envVars:
      - key: SERVER_URL
        sync: false
      - key: SERVER_PORT
        value: 8080
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_ENABLED
        value: true
      - key: DATABASE_PROVIDER
        value: postgresql
      - key: DATABASE_SAVE_DATA_INSTANCE
        value: true
      - key: DATABASE_SAVE_DATA_NEW_MESSAGE
        value: true
      - key: DATABASE_SAVE_MESSAGE_UPDATE
        value: true
      - key: DATABASE_SAVE_DATA_CONTACTS
        value: true
      - key: DATABASE_SAVE_DATA_CHATS
        value: true
      - key: AUTHENTICATION_API_KEY
        sync: false
      - key: CORS_ORIGIN
        value: "*"
      - key: CORS_METHODS
        value: GET,POST,PUT,DELETE
      - key: CORS_CREDENTIALS
        value: true
      - key: QRCODE_LIMIT
        value: 30
      - key: QRCODE_COLOR
        value: "#198754"
      - key: WEBSOCKET_ENABLED
        value: false
      - key: LOG_LEVEL
        value: ERROR,WARN,DEBUG,INFO,LOG,VERBOSE,DARK,WEBHOOKS
      - key: LOG_COLOR
        value: true
      - key: LOG_BAILEYS
        value: error
      - key: STORE_MESSAGES
        value: true
      - key: STORE_MESSAGE_UP
        value: true
      - key: STORE_CONTACTS
        value: true
      - key: STORE_CHATS
        value: true
      - key: PROVIDER_ENABLED
        value: false
